
        .main {
        background-image: url(../images/shablon_id.png);
        background-repeat: no-repeat;
        background-position:top;
        font-size: 24px;
        }
    
        .gumvd {
            padding-top:100px;
            margin-left:150px;
       margin-bottom: 85px;
        }
        .release {
            margin-left: 120px;
           
        }
    
         .sur {
            margin-top:300px;
            margin-left:350px;
            margin-bottom:50px;
        }
        .name {
            margin-top:0px;
            margin-left:300px;
            margin-bottom:50px;
        }
        .date {
            margin-top:0px;
            margin-left:380px;
        }
        .photo {
            margin-top: -100px;
            margin-left: 50px;;
        }
        .sex {
            margin-top: -135px;
            margin-left: 260px;
        
        }
        .city {
            margin-top:15px;
            margin-left: 300px;;
        }
        .button {
            margin-top:250px;
            margin-left:250px;
            text-align: center;
            width:200px;
            height:70px;
            padding-top:20px;
            margin-bottom: 40px;
            font-size: 36px;
            background-color: darkslategray;
            color:antiquewhite;
        
        }